/*Limpieza del formato por default*/
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: 1.8;
    
    }
/*fomarto de la parte superior - Header*/

body{
    background-color:rgb(250, 244, 244);
}
section{
    height: 70px;
    display: flex;
    background-color:rgba(255,255,255,0.85) ;
    align-items: center;
    /*justify-content: space-around;*/
    /*position: fixed;*/
    width: 90%;
    margin: 0px 70px 0 70px;
}

.seccion1{
    margin-top: 40px;
}
p{
    font-size: 35px;
    margin-left: 100px;
    }

nav{
    flex-wrap: wrap;
    }
a{
    text-decoration: none;
    margin: 5px;
    /*text-transform: uppercase;*/
    color:  black; 
    font-size: 17px;
      
    }

a:hover{
    transition: 1s all;
    color: red;
    cursor: pointer;
    /*no me toma el cambio de tamano!!!!!*/
    transform: scale(1.5);
    }

.menu1{
    margin-left: 620px;
}

.iconos{
    font-size: 18px;
                         
}
.iconopuntonaranja{
    color: orange;
    font-size: 8px;
    margin-left: -15px;
    vertical-align: 2.4em;
    }

img.foto{
    border-radius: 180px;
    max-height: 40px;
    max-width: 40px ;
    margin-left: 35px;
    margin-top: 35px;
        
}

.iconopuntorojo{
    color: red;
    font-size: 8px;
    margin-left: -15px;
    vertical-align: 2.4em;
}

/*Inicion particularidades seccion 2*/
.seccion2{
    margin-top: 40px;
}

.search{
    margin-left: 5px;
    
}

input{
    background-color: rgb(241, 241, 241);
    padding: 8px 40px;
    border-radius: 8px;
    border-color: transparent;
    margin-right: 15px;

}

.menu2{
    margin-left: 360px;
}
/*Inicion particularidades seccion 3*/
.seccion3{
    margin-top: 20px;
}
input.search2{
    background-color: transparent;
    padding: 8px 20px;
    border-radius: 20px;
    border-color: rgb(241, 241, 241);
    margin-right: 15px;
    margin-left: 400px;
}

/*Inicio Estilos especificos barra 4*/
.nav4{
    margin-left: 250px;
}

.menu4{
    margin-left: 250px;

}
.boton1{
    padding: 8px 35px;
    background: none;
    border: none;
    font-family: sans-serif;
    font-weight: 1.8;
    cursor: pointer;

}
.boton2{
    padding: 8px 35px;
    background: blue;
    border: none;
    border-radius: 8px;
    font-family: sans-serif;
    font-weight: 1.8;
    cursor: pointer;
    color: white;
    
}

button:hover{
    transition: 1s all;
    color: red;
    cursor: pointer;
    /*no me toma el cambio de tamano!!!!!*/
    transform: scale(1.5);
}

/*Inicio Estilos especificos quinta barra */
.seccion5{
    margin-top: 60px;
}

input.search5{
    background-color: transparent;
    padding: 8px 100px;
    border-radius: 5px;
    border-color: rgb(147, 146, 146);
    border-style: solid ;
    margin-right: 200px;
    margin-left: 320px;
}


